.main-title {
  font-size: 3rem;
}

.section-title {
    color: $white;
    line-height: 155%;
    font-size: 2.7rem;
    @include media('>=tablet') {
    font-size: 4rem;
    font-weight: 600;
    }
}

.base-text {
  font-size: 1.6rem;
}

.typography {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}
