.ui-section {
  padding: 40px 0;
}

.ui-block {
  margin-bottom: 30px;

  &__head {
    margin-bottom: 20px;
  }

  &__btn {
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid $success;
    color: $success;
    transition: $base-transition;

    &:hover {
      background-color: $success;
      color: $white;
    }
  }
}

.ui-title {
  font-size: 30px;
}

.ui-subtitle {
  font-size: 16px;
  margin-bottom: 16px;
}
