<header class="header js-fixed-header">
  <div class="container header__wrap">
    <div class="logo">
      <a href="index.html">
        <img src="assets/images/logo.png" alt="">
      </a>
    </div>
    <nav class="nav js-burger">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#accordion-ui" class="nav__link js-link-to">Accordion</a>
        </li>
        <li class="nav__item">
          <a href="#tabs-ui" class="nav__link js-link-to">Tabs</a>
        </li>
        <li class="nav__item">
          <a href="#popup-ui" class="nav__link js-link-to">Popup</a>
        </li>
      </ul>
    </nav>
    <div class="burger js-burger-open">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>