<section>
    <div class="container">
        <div class="help">
            <div class="help__wrap">
                <div class="help__row">
                    <div class="help__col">
                        <div class="help__img">
                            <img src="assets/images/q1.png" alt="">
                        </div>
                    </div>
                    <div class="help__col">
                        <div class="help__col-wrap">
                            <div class="help__positive">
                                <span class="help__text">
                                    120+
                                </span>
                                <span class="help__subtext">
                                    Completed Projects
                                </span>
                            </div>
                            <div class="help__positive">
                                <div class="help__star">
                                    <img src="assets/images/star.svg" alt="">
                                </div>
                                <span class="help__subtext">
                                    Positive Review’s
                                </span>
                            </div>

                        </div>
                        <div class="help__glad">
                            <h2 class="help__title">Glad to Help You!</h2>
                            <span class="help__subtext">
                                As a web developer, I'm very keen on learning new and pioneering technologies,
                                programming languages, and development techniques.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>