<section>
    <div class="container">
        <div class="intro">
            <div class="intro__wrap">
                <div class="intro__info">
                    <div class="intro__col">
                        <span class="intro__text">Hi</span>
                        <h2 class="section-title">I’m Artem Evsiukov.</h2>
                        <h2 class="section-title"> a Frontend developer.</h2>
                    </div>
                    <span class="intro__subtext">Frontend developer based in tehran, Iran.
                        I am coding with a clean and beautiful problem solving in mind.</span>
                    <div class="intro__social">
                        <div class="intro__folow">
                            <span>Follow me</span>
                        </div>
                        <div class="intro__social-wrap">
                            <a href="" class="intro__link">
                                <div class="intro__icons">
                                    <img src="assets/images/face.svg" alt="">
                                </div>
                            </a>
                            <a href="" class="intro__link">
                                <div class="intro__icons">
                                    <img src="assets/images/twit.svg" alt="">
                                </div>
                            </a>
                            <a href="" class="intro__link">
                                <div class="intro__icons">
                                    <img src="assets/images/inst.svg" alt="">
                                </div>
                            </a>
                            <a href="" class="intro__link">
                                <div class="intro__icons">
                                    <img src="assets/images/tel.svg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="intro__btn">
                        <button type="button" class="btn primary">Send Request</button>
                        <button type="button" class="btn primary"><a href="assets/download/cv.pdf">Download CV</a></button>

                    </div>
                </div>
                <div class="intro__photo">
                    <div class="intro__img">
                        <img src="assets/images/i.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>