<section class="why-section">
    <div class="container">
        <div class="why-wrap">
            <div class="why">
                <div class="why__wrap">
                    <div class="why__img">
                        <img src="assets/images/1.png" alt="">
                    </div>
                    <span class="why__text">Communicative</span>
                    <span class="why__subtext">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    </span>
                </div>
            </div>
            <div class="why">
                <div class="why__wrap">
                    <div class="why__img">
                        <img src="assets/images/2.png" alt="">
                    </div>
                    <span class="why__text">Professional</span>
                    <span class="why__subtext">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    </span>
                </div>
            </div>
            <div class="why">
                <div class="why__wrap">
                    <div class="why__img">
                        <img src="assets/images/3.png" alt="">
                    </div>
                    <span class="why__text">Collaborative​</span>
                    <span class="why__subtext">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    </span>
                </div>
            </div>
            <div class="why">
                <div class="why__wrap">
                    <div class="why__img">
                        <img src="assets/images/4.png" alt="">
                    </div>
                    <span class="why__text">Client’s Favourite</span>
                    <span class="why__subtext">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>